.style-section {
    border-radius: 10px;
    border:solid 1px rgb(214, 214, 214) ;
}
.text-section-start {
    display: flex;
    flex-direction: column;
    text-align: start;
}
.text-hover:hover {
    background: #e2e2e2;
 }
.border-top-orders {
    border-top: solid 2px rgb(226, 225, 225);
}
.border-top-activities {
    border-top: solid 1px rgb(226, 225, 225);
}
.text-color-warning{
    color: rgb(255, 165, 46);
   
}
.text-check-id{
    font-size: small;
}
.border-bottom-red{
    border-bottom: solid red 2px;
}
.button-style{
    border-radius: 25px;
    padding: 5px  15px;
    font-size: 12px;
    background: none;
  border-color: rgb(175, 174, 174);
}
.style-text-message{
    border-bottom: solid rgb(211, 10, 10) 2px;
    width: 60px;
}