.profile-container {
  border-radius: 10px;
  border: solid 1px rgb(214, 214, 214);
}

.activities-tab:hover {
  background: #e2e2e2;
}

.activities-tab-border-top {
  border-top: solid 2px rgb(226, 225, 225);
}
.checkId-text-warning {
  color: rgb(255, 165, 46);
}
.checkId-text-size {
  font-size: small;
}

.massages-tab {
  border-radius: 25px;
  padding: 5px 15px;
  font-size: 12px;
  background: none;
  border: 1px solid rgb(170, 167, 167);
}

.text-border-bottom-red {
  border-bottom: solid rgb(189, 33, 33) 2px;
}
.activities-border-right-red {
  border-right: 2px solid red;
}
.ordersHistory-count {
  border: 1px solid slategray;
  border-radius: 4px;
  padding: 3px;
  height: 26px;
  width: 30px;
  margin: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(252, 252, 252);
  background-color: darkgrey;
  margin-right: 5px;
}
.orderHistory-tab-active-red {
  border-bottom: 2px solid rgb(184, 3, 3);
  color: rgb(184, 3, 3);
}
.orderHistory-height {
  height: 570px;
}
.inProgress-btn-copy {
  border:2px rgb(153, 3, 3);
  border-style: dotted;
  background-color: rgb(255, 58, 58);
  color: rgb(255, 255, 255);
}
