

@import 'header.scss';
@import './profile/profile.scss';

.main {
    margin-top: 95px;
}
.cursor-pointer {
    cursor: pointer;
}
.d-flex-flex-column-text-start {
    display: flex;
    flex-direction: column;
    text-align: start;
}