.img-header {
  height: 70px;
}
.input-group-addon {
  position: absolute;
}
.span-search-header {
  margin-top: 19px;
  margin-right: 5px;
}
.search-icon {
  zoom: 1.3;
  padding: 5px;
  color: rgb(170, 170, 170);
}
.input-test {
  padding-right: 40px;
  padding-bottom: 5px;
  margin-top: 17px;
  background-color: rgb(219, 218, 218);
  color: rgb(233, 22, 22);
}
.icon-size {
  font-size: x-large;
}
.btn-person {
  border-radius: 15px;
}
.line-cart-person {
  font-size: x-large;
  margin-bottom: 10px;
  color: rgb(197, 197, 197);
}
.rotate-icon {
  transform: rotateY(3.142rad);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  height: 90px;
  padding: 10px;
}